{% extends 'lithubs/components/base.html' %}

{% block content %}
<form action="" method="POST">
{% csrf_token %}
<p style="color: var(--azure); margin-top: 5%;">You worked hard on <b>{{ obj }}, </b> {{ request.user.name }}, are you sure you want to delete it?</p>
<a style="color: var(--azure); text-decoration: none;"href="{{ request.META.HTTP_REFERER }}">return</a>
<input style="border:none;background-color: var(--primary-color); border-radius: 12px; border: 1px solid var(--azure); color: var(--azure); margin: 1%;" type="submit" value="Confirm">
</form>
{% endblock content %}
