{% load static %}  

{% block content %}
<div class="activity-header">
  <h1>Trending</h1>	
  <hr style="color:white; margin:0 auto;">
  <p style="color:white; text-align: center; margin-top: 1%;">See whats trending in the LitHub community</p>
</div>

<div class="activity-wrapper">
		{% for repo in repos %}
		<div class="activity-container">
			<span>@{{ repo.user }}</span>
			<h4>{{ repo.title }}</h4>
			<p style="color: #5585b5;">{{ repo.synopsis }}</p>
			<p>🟣 {{ repo.genre }}</p>

			<div style="display:grid; grid-template-columns: 3fr 1fr;">

			<div>
			<p>🟠 {{ repo.form }}</p>
			<a href="{% url 'lithubs:update-repository' repo.id %}">Edit</a>
			<a href="{% url 'lithubs:delete-repository' repo.id %}">delete</a>
			</div>
					
			<div>
			  <p>{{ repo.created|timesince }} ago</p>
			</div>
			</div>
		</div>
		{% endfor %}

</div>

{% endblock content %}
