{% extends 'lithubs/main.html' %}

{% load static %}

{% block content %}
<div class="discussion-header-wrapper">
  <h1 class="discussion-header">Join the discussion</h1>
  <hr class="discussion-hr">
  <p class="discussion-sub-header">Remember to keep your critcism constructive</p>
</div>

<div class="discussion-wrapper">

  <div class="browse-container">
    <p class="browse-paragraph">Browse</p>
      <form class="d-flex" role="search" method="GET" action="{% url 'lithubs:discussion' %}">
        <input class="form-control me-2" type="text" name="q" placeholder="Search" aria-label="Search">
      </form>
    <a class="browse-topic-name" style="display:block;" href="{% url 'lithubs:discussion' %}">All</a>
    <hr>
    {% for topic in topics %}
    <a class="browse-topic-name" href="{% url 'lithubs:discussion' %}?q={{ topic.name }}">{{ topic.name }}</a>
    <hr>
    {% endfor %}
  </div>

  <div style="width: 90%; margin:0 auto;">
    <button class="discussion-create-btn" style="float: right; margin-top:-5%"><a style="float:right;"href="{% url 'lithubs:create-room' %}">Post</a></button>
    {% for room in rooms %}
      <div class="discussion-feed-container">
	<span><img class="discussion-avatar" src="{% static 'lithubs/img/franklin_and_bruce.jpeg' %}"></span>
	<span class="discussion-feed-host"><a style="color: var(--secondary-color);" href="{% url 'lithubs:profile' user.id %}">@{{ room.host }}</a></span>
        <a class="discussion-room-name" href="{% url 'lithubs:room' room.id %}">{{ room.name }}</a>
        <p class="discussion-description">{{ room.description }}</p>
	
	<div class="discussion-topic-grid">
	  <div>
            <p>🟠 {{ room.topic }}</p>
	    <a href="{% url 'lithubs:update-room' room.id %}"><i style="color: white; padding: 5px;" class="fa fa-pen"></i></a>
	    <a href="{% url 'lithubs:delete-room' room.id %}"><i style="color: white; padding: 5px;" class="fa fa-trash"></i></a>
	  </div>

	  <div>
	    <p style="color: grey;">{{ room.updated|timesince }} ago</p>
	  </div>

	</div>

      </div>
    {% endfor %}
  </div>

  <div>
    <p class="discussion-activity-paragraph" style="text-align: center;">Activity</p>
    <div class="participants-box">
    {% for message in room_messages %}
      <div class="partcipants-details">
	<span><img class="activity-avatar" src="{% static 'lithubs/img/franklin_and_bruce.jpeg' %}"></span>
        <span><a href="{% url 'lithubs:profile' user.id %}"class="participants-name">@{{ message.user }}</a></span>
	<span class="activity-created">{{ message.created|timesince }} ago</span>
	<p class="discussion-replied-to">replied to: "{{ message.room }}"</p>
	<p class="discussion-replied-to">{{ message }}</p>
	{% if request.user == message.user %}
	<a href="{% url 'lithubs:delete-message' message.id %}"><i style="color: white; padding: 5px;" class="fa fa-trash discussion-replied-to"></i></a>
	{% endif %}
      </div>
    {% endfor %}
    </div>
  </div>

</div>

{% endblock content %}
