{% extends 'lithubs/main.html' %}

{% load static %}

{% block content %}
<div class="discussion-header-wrapper">
  <h1 class="discussion-header">Join the discussion</h1>
  <hr class="discussion-hr">
  <p class="discussion-sub-header">Remember to keep your critcism constructive</p>
</div>

<div class="discussion-wrapper">

  <div class="browse-container">
    <p class="browse-paragraph">Browse</p>
    <a class="browse-topic-name" style="display:block;" href="{% url 'lithubs:discussion' %}">All</a>
    {% for topic in topics %}
    <a class="browse-topic-name" href="{% url 'lithubs:discussion' %}?q={{ topic.name }}">{{ topic.name }}</a>
    <hr>
    {% endfor %}
  </div>

  <div style="width: 90%; margin:0 auto;"class="">
    <button class="discussion-create-btn"><a href="{% url 'lithubs:create-room' %}">Post</a></button>
    {% for room in rooms %}
      <div class="discussion-feed-container">
	<img class="discussion-avatar" src="{% static 'lithubs/img/franklin.jpg' %}">
        <p>@{{ room.host }}</p>
        <a href="{% url 'lithubs:room' room.id %}">{{ room.name }}</a>
        <p class="discussion-synopsis">{{ room.description }}</p>
	
	<div class="discussion-topic-grid">
		<div>
        <p>🟠 {{ room.topic }}</p>
	<a href="{% url 'lithubs:update-room' room.id %}">Edit</a>
	<a href="{% url 'lithubs:delete-room' room.id %}">Delete</a>
		</div>
		<div>
        <p>{{ room.updated|timesince }} ago</p>
		</div>
	</div>
      </div>
    {% endfor %}
  </div>

  <div>
    <p style="text-align: center;">Activity</p>
  </div>

</div>

{% endblock content %}
