{% extends 'lithubs/components/main.html' %}
{% load static %}

{% block content %}

  <div class="container-fluid main">
    <div class="row">
      <div class="main-txt col-lg-6">
        <h1 class="main-header">Where Stories are Told</h1>
        <p class='main-sub-header'>The platform for writers to share their work with the world</p>
        <div class="input-group input-group-sm">
          <a href="" class="main-signup span-btn input-group-text" id="inputGroup-sizing-lg" style="background-color: light grey; border:none; color: black; text-decoration: none;">Sign up for LitHub</a>
          <input type="text" placeholder="Email Address" class="main-signup form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" />
        </div>
      </div>
    </div>
  </div>

  <!-- features --> 
  <div class="features-icon-container container-fluid main">
    <div class="row">
      <div class="col-lg-4">
        <h1 class="features-header">Share</h1>
        <img class='features-icon' src="{% static 'lithubs/img/share.png' %}" alt='pen'>
	<p class='features-paragraph'>Create a repository and share whatever you've written today, good or bad</p>
      </div>
      <div class="col-lg-4">
        <h1 class="features-header">Read</h1>
        <img class='features-icon' src="{% static 'lithubs/img/read.png' %}" alt='pen'>
	<p class='features-paragraph'>Read and offer critique on pieces shared by other writers</p>
      </div>
      <div class="col-lg-4">
        <h1 class="features-header">Edit</h1>
        <img class='features-icon' src="{% static 'lithubs/img/edit.png' %}" alt='pen'>
	<p class='features-paragraph'>Update a document previously shared with todays edits or revisions</p>
      </div>
    </div>
  </div>
	
  <!-- hero -->
  <div class='vl'></div>
   <div class="container col-xxl-8 px-4 py-5 hero-container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'lithubs/img/screenshot2.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="hero-header display-5 fw-bold lh-1 mb-3">Give Your Writing a Home</h1>
        <p class="lead">Tired of looking at unread manuscripts? Sign up for LitHub and create a repository where you can host, update, share, and maintain you work</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Sign up</button>
        </div>
      </div>
    </div>
	
    <div class='vl'></div>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="hero-header display-5 fw-bold lh-1 mb-3">Help Your Fellow Writiers by Proof-Reading and Collaborations</h1>
        <p class="lead">By proof-reading and collaborating on public repositories, you and your fellow writers can help each other get noticed</p>
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'lithubs/img/study.jpg' %}" class="study-img d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
    </div>
    
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'lithubs/img/key.png' %}" class="key-img d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="hero-header display-5 fw-bold lh-1 mb-3">Alright Then, Keep Your Secrets</h1>
        <p class="lead">Feeling Shy? Humble? Or do you just want to keep the next great American Novel under wraps. Keep your brilliant ideas under lock and key by setting your repositories to private</p>
      </div>
    </div>
  </div>

  <p id="quote"></p>
 
{% endblock content  %}
