{% extends 'lithubs/navbar.html' %}
{% load static %}
{% load bootstrap5 %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title></title>

<!-- css -->
<link rel='stylesheet' href="{% static 'lithubs/css/styles.css' %}">

<!-- bootstrap css -->
{% bootstrap_css %}
</head>
<body>
<h1>Create a new repository</h1>
<form action="{% url 'lithubs:new_repository' %}" method='POST'>
	{% csrf_token %}
	{{ form.as_p }}
	<button name='submit'>Add Repository</button>

</form>
</body>
</html>
{% endblock content %}
