{% extends 'lithubs/main.html' %}
{% load static %}

{% block content %}

<div class="profile-wrapper">
	<div class="profile-img-wrapper">
		<img class="profile-img" src="{{ user.avatar.url }}" alt="avatar">
	  <p class="profile-name" onClick="onChange()">{{ user.name }}</p>
	  <p class="profile-username" onClick="onChange()">{{ user.username }}</p>
	  <p class="profile-bio" onClick="onChange()">{{ user.bio }}</p>
	</div>
	
	{% include 'lithubs/repository_feed_component.html' %}	
</div>

{% endblock content %}
