{% extends 'lithubs/components/main.html' %}

{% block content %}
<div class="profile-grid-container">

  <div class="profile-grid-col-1">
    <span><img class="profile-grid-col-1-avatar" src="{{ user.avatar.url }}"></span>
    <p class="profile-grid-col-1-username">{{ user.name }}</p>
    <p style="color:var(--grey)"class="profile-grid-col-1-username">{{ user.username }}</p>
    <p class="profile-grid-col-1-username">{{ user.bio }}</p>
    <button class="profile-grid-col-1-btn"><a class="profile-grid-col-1-edit-link"href="#">Edit Profile</a></button>
  </div>

  <div class="profile-grid-col-2">
    <p>Repositories</p>
    <hr>
    {% for repo in repos %}
    <div>
    <p><a class="profile-grid-col-1-title" href="{% url 'lithubs:repository' repo.id %}">{{ repo.title }}</a></p>
    <p class="profile-grid-col-1-synopsis">{{ repo.synopsis }}</p>

    <!-- Start inner grid -->
    <div class="profile-inner-grid">
    <div>
    <p class="profile-inner-genre">🟣 {{ repo.genre }}</p>
    <p class="profile-inner-genre">🟠 {{ repo.form }}</p>

      {% if user == repo.owner %}	      
      <a href="{% url 'lithubs:update-repository'  repo.id %}"><i style="color: grey;" class="fa fa-pen-to-square"></i></a>
      <a href="{% url 'lithubs:delete-repository'  repo.id %}"><i style="color: grey;" class="fa-regular fa-trash-can"></i></a>
      {% endif %}
    </div>

    <div>
    <p class="profile-inner-grid-created">Posted {{ repo.created|timesince }} ago</p>
    <p class="profile-inner-grid-created">Updated {{ repo.updated|timesince }} ago</p>
    </div>
    </div>
    <!-- End inner grid -->

    </div>
    {% endfor %}
  </div>


  <div class="feed-col-3">
    <p>More from LitHub</p>
    {% for repo in public_repos %}
    <div>
      <span><img class="feed-owner-avatar" src="{{ repo.owner.avatar.url }}"></span>
      <span><b><a class="repository-owner-link" href="{% url 'lithubs:profile' repo.owner.id %}">{{ repo.owner.username }}</a></b></span>
      <p class="profile-feed-title"><a class="profile-grid-col-1-title" href="{% url 'lithubs:repository' repo.id %}">{{ repo.title }}</a></p>
     </div>
     <br>
      {% endfor %}
  </div>

</div>
{% endblock content %}
