{% extends 'lithubs/components/main.html' %}
{% load mathfilters %}
{% block content %}

<div class="repository-header-container">

  <div>
    <hr>
    <span><img class="repository-owner-avatar" src="{{ repo.owner.avatar.url }}" alt="profile-pics"></span>
    <span><b><a class="repository-owner-link" href="{% url 'lithubs:profile' repo.owner.id %}">{{ repo.owner.username }}</a></b></span>
    <span class="repository-read-time">{{ repo.synopsis|length|div:200 }} min read</span>

    <div class="repository-title">
      <h1>{{ repo.title }}</h1>

      <img class="repository-image" src="{{ repo.image.url }}" alt="book">
      <p>{{ repo.body }}</p>
    </div>

   <div>
  </div>
  </div>

  <div style="border-left: 1px solid grey; margin-top: 5%;"class="repository-more-container">
    <hr>

    <form class="repository-comment-form" action="" method="POST">
      {% csrf_token %}
      <input type="text" name="body" placeholder="Leave a comment">
    </form>

    {% for comment in repo_comments %}
    <div class="repository-more-details">
      <span><img class="repository-more-avatar" src="{{ comment.owner.avatar.url }}"></span>
      <span><b><a class="repository-owner-link" href="{% url 'lithubs:profile' comment.owner.id %}">{{ comment.owner.username }}</a></b></span>	
      <p class="repository-more-title">"{{ comment.body }}"</p>
      {% if request.user == comment.owner %}
      <a href="{% url 'lithubs:delete-comment' comment.id %}"><i class="fa-regular fa-trash-can message-delete-icon"></i></a>
      {% endif %}
    </div>
    {% endfor %}

    <!--<button onclick="showComments()" class="repository-more-details-btn">More comments</button>-->

    </div>
</div>



<footer>
  <div class="repository-footer">
    <a href="/like_repo?repo_id={{ repo.id }}"><i style="color: var(--azure);"class="fa fa-hands-clapping fa-2x feed-icons"></i></a>
    <span style="margin-left: 2%; color: var(--azure);">{{ repo.num_of_likes }}</span>
  </div>
</footer>

{% include 'lithubs/components/footer.html' %}

{% endblock content %}
