{% extends 'lithubs/main.html' %}

{% block content %}


<div class="create-repository-header-wrapper">
<h1 class="create-repository-header">Create a new Repository</h1>
 <hr class="create-hr">
<p class="create-repository-paragraph">A repository contains all project files, including the revision history..</p>
</div>

<main class="">
  <form class="create-repo-form"  method="POST" action="">
    {% csrf_token %}

    <div class="create-title-grid">

    <div>
      <p>Great title names should be short and memorable *</p>
    </div>

    <div class="form-floating">
      <input style="background-color: #222831; color:white; border-radius:12px; padding: 5px; width: 100%;"type="text" name="title" class=" login-register-form-input" id="floatingInput" placeholder="title">
      <label style="color:white;"class="login-register-form-label"></label>
    </div>

    </div>
    <!-- end create-title-grid div -->

    <div class="create-title-grid">

    <div>
      <p>Synopsis *</p>
    </div>

    <div class="form-floating">
      <input style="background-color: #222831; color:white; border-radius:12px; padding: 5px; height: 300px; width: 100%;"type="text" name="synopsis" class=" login-register-form-input" id="floatingInput" placeholder="synopsis">
      <label style="color:white;"class="login-register-form-label"></label>
    </div>

    </div>
    
    <div class="create-title-grid">

    <div>
      <p>Genre *</p>
    </div>

    <div class="form-floating">
      <input style="background-color: #222831; color:white; border-radius:12px; padding: 5px; width: 100%"type="text" name="genre" class=" login-register-form-input" id="floatingInput" placeholder="genre">
      <label style="color:white;"class="login-register-form-label"></label>
    </div>

    </div>
    
    <div class="create-title-grid">

    <div>
      <p>Form *</p>
    </div>

    <div class="form-floating">
      <input style="background-color: #222831; color:white; border-radius:12px; padding: 5px;"type="text" name="form" class=" login-register-form-input" id="floatingInput" placeholder="form">
      <label style="color:white;"class="login-register-form-label"></label>
    </div>

    </div>
    
    <div class="create-title-grid">

    <div>
      <p>Body *</p>
    </div>

    <div class="form-floating">
      <input style="background-color: #222831; color:white; border-radius:12px; padding: 5px; height: 600px; width: 100%;"type="text" name="body" class=" login-register-form-input" id="floatingInput" placeholder="body">
      <label style="color:white;"class="login-register-form-label"></label>
    </div>

    </div>

    <button style="background-color: purple;"class="w-100 btn btn-lg btn-primary login-register-from-btn" value="Submit" type="submit">Create</button>
  </form>
</main>
{% endblock content %}
