
{% extends 'lithubs/navbar.html' %}
{% block content %}
{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="icon" type="image/x-icon" href="{% static 'lithubs/img/parchment.png' %}">
<title>Your Repositories</title>

<!-- css -->
<link rel="stylesheet" href="{% static 'lithubs/css/styles.css'%}">

<!-- bootstrap -->
{% bootstrap_css %}

</head>
<body id="bg"style="background-image:url('{% static "lithubs/img/space.jpg" %}'); background-repeat:no-repeat; background-size:cover;">
	{% for repository in repositories %}
        <div class='repositories-page-container'>
	  <h1 class='repositories-owner'>@{{ repository.owner }}</h1>
    	  <a href="{% url 'lithubs:repository' repository.id %}" class='repositories-title'>{{ repository.title }}</a>
    	  <p class='repositories-sub-text'>{{ repository.synopsis  }}</p>
	  <p class='repositories-sub-text1'>🟠 {{ repository.genre  }}</p>
	  <p class='repositories-sub-text1'> {{ repository.update  }}</p>
	 <hr style='color:white; margin-left:10%; margin-right: 10%; margin-top: 5%;'>
        </div>
 	{% endfor %}

</body>
</html>
{% endblock content  %}
