{% load static %}
{% load mathfilters %}

<div style="width: 90%; margin:0 auto;"class="">
  {% for repo in repos %}
    <div class="feed-repo-container">
	    <a href="{% url 'lithubs:profile' user.id %}" class="feed-repo-user">@{{ repo.user }}</a>
      <p style="margin-top: 1%;"><a style="color: white; text-decoration: none;" href="{% url 'lithubs:repository' repo.id %}">{{ repo.title }}</a></p>
      <p id="repository-feed-synopsis">{{ repo.synopsis }}</p>
      <p class="repository-feed-genre">🟣 {{ repo.genre }}</p>

        <div class="profile-repo-form-created-grid">
	  <div>
	    <p>🟠 {{ repo.form }}</p>
	
	    {% if request.user == repo.user %}
	      <a href="{% url 'lithubs:update-repository' repo.id %}"><i style="color:white; padding: 5px;"class="fa fa-pen"></i></a>
	      <a href="{% url 'lithubs:delete-repository' repo.id %}"><i style="color:white; padding: 5px;" class="fa fa-trash fa-1x"></i></a>
	    {% endif %}
	  </div>

	  <div class="repository-read-time-container">
	    <p>{{ repo.created|timesince }} ago</p>
	    <p>{{ repo.synopsis|length|div:200 }} min read</p>
	  </div>
	</div>

    </div>
  {% endfor %}
</div>
