{% extends 'lithubs/main.html' %}
{% load static %}
{% block content %}

<div class="explore-wrapper">
  <h1 class="explore-header">Public Profile</h1>
  <hr class="explore-hr">
  <p class="explore-sub-header">Edit your profile</p>
</div>

<div class="update-profile-wrapper">
  <div>
    <form method='POST' action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="create-title-grid">

    <div>
      <p>Avatar *</p>
    </div>

    <div class="form-floating">
      <input style="background-color: #222831; color:white; border-radius:12px; padding: 5px;"type="file" name="avatar" class=" login-register-form-input" id="floatingInput" placeholder="avatar">
      <label style="color:white;"class="login-register-form-label"></label>
    </div>

    </div>
    <div class="create-title-grid">

    <div>
      <p>Name *</p>
    </div>

    <div class="form-floating">
      <input style="background-color: #222831; color:white; border-radius:12px; padding: 5px;"type="text" name="name" class=" login-register-form-input" id="floatingInput" placeholder="Name">
      <label style="color:white;"class="login-register-form-label"></label>
    </div>

    </div>
    <div class="create-title-grid">

    <div>
      <p>Username *</p>
    </div>

    <div class="form-floating">
      <input style="background-color: #222831; color:white; border-radius:12px; padding: 5px;"type="text" name="username" class=" login-register-form-input" id="floatingInput" placeholder="Username">
      <label style="color:white;"class="login-register-form-label"></label>
    </div>

    </div>
    
    <div class="create-title-grid">

    <div>
      <p>Email *</p>
    </div>

    <div class="form-floating">
      <input style="background-color: #222831; color:white; border-radius:12px; padding: 5px;"type="text" name="email" class=" login-register-form-input" id="floatingInput" placeholder="Email">
      <label style="color:white;"class="login-register-form-label"></label>
    </div>

    </div>
    <div class="create-title-grid">

    <div>
      <p>Bio *</p>
    </div>

    <div class="form-floating">
      <input style="background-color: #222831; color:white; border-radius:12px; padding: 5px;width: 300px; height: 300px;"type="text" name="bio" class=" login-register-form-input" id="floatingInput" placeholder="bio">
      <label style="color:white;"class="login-register-form-label"></label>
    </div>

    </div>
    <button style="background-color: purple;"class="w-100 btn btn-lg btn-primary login-register-from-btn" value="Submit" type="submit">Create</button>
   </form>
  </div>

  <div>
    <p class="update-profile-avatar-header">Profile picture</p>
    <img class="update-profile-avatar" src="{{ user.avatar.url }}">
  </div>

</div>

{% endblock content %}
