{% extends 'lithubs/navbar.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title></title>
<link rel='stylesheet' href="{% static 'lithubs/css/styles.css'%}">
</head>
<body>
<div class="signup-container">
   <img style='width: 3em; margin-bottom: 20px;' class'signin-img' src="{% static 'lithubs/img/parchment.png' %}" alt="Lithub logo"/>
   
   <form class="signup-form" method='POST' action="{% url 'users:register' %}">
     {% csrf_token %}
     {{ form.as_p }}
     <input type="hidden" name='next' value="{% url 'lithubs:profile' %}">
     <button class="signup-btn" name="submit">Log in</button>
   </form>
 </div>
</body>
</html>
{% endblock content %}
