:root {
	--primary-color: #222831;
	--secondary-color: #66bfbf;
	--third-color: #222845;
	--azure: #ffffff;
	--grey: #808080;
	--lightgrey: #E8E8E8;
}

hr {
	color: white;
}

.nav-profile-img {
	width: 25px;
	height: 25px;
	border-radius: 50%;
}

.dropdown-item {
	color:white;
}

/* main */
.main {
  margin-top: 15%; 
  font-weight: bold;
  color: white;
}

.main-header {
	font-size: 80px;
}

.main-sub-header {
	color: white;
	font-size: 30px;
}

/* features */
.features-icon {
	background-color: purple;
	border-radius: 50%;
	width: 100px;
	text-align: center;
}

.features-icon-container {
	text-align: center;	
	margin-top: 20%;
}


.features-header {
	text-align: center;
	color: white; 
	margin-bottom: 10%;
	font-size: 30px;
}

.features-paragraph{
	color: white;
	margin-top: 8%;
	font-size: 15px;
}

/* hero */
.hero-container {
	margin-top: 15%;
}

.hero-header {
	color: white;
}

.lead {
	color: white;
}

.study-img {
	border-radius: 12px;
}

.key-img {
	width: 10vw;
}
  
  /* Vertical line */
  
  /*hr {
	width: 80%;
	height: 8px;
	margin-left: -50%;
	background-color:green;
	border: 0 none;
	margin-top: 100px;
	margin-bottom:100px;
  }*/
  
  .vl {
	border-left: 6px solid #834c83;
	height: 100%;
	position: absolute;
	left: 2%;
  }


/* Explore */
.explore-wrapper {
	margin: 8% auto;	
	background-color: var(--primary-color);
	color:white;
	padding: 20px;
	border: 1px solid white;
}

.explore-header {
	text-align: center;
}

.explore-hr {
	margin:0 auto;
	width: 50%;
}


.explore-sub-header {
	text-align: center;
}

.explore-feed-wrapper {
	margin: 5% auto;	
	background-color: var(--secondary-color);
	width: 80%;
	border-radius:12px;
	color:white;
	padding: 20px;
	border: 1px solid white;
}

.feed-repo-user {
	color: var(--secondary-color);
}

.explore-feed-synopsis {
	padding: 5px;
	color: var(--secondary-color);
}

.explore-form-created {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.repository-read-time-container {
	color: var(--grey);
}

/* Delete form */
.repository-delete-paragraph {
	color: white;
}

/* login-register form */
.login-register-form {
	margin: 0 auto;
	width: 22%;
}

@media (max-width: 1000px;) {
	.login-register-form {
		margin: 0 auto;
		width: 50%;
	}

	.login-register-form-input {
		width: 60%;
	}
}

.login-register-form-icon {
	display: block;
	margin:5% auto;
}

.login-register-form-input {
	background-color: var(--primary-color);
}

#date {
	text-align: center;
}

/* profile */
.profile-wrapper {
	margin-top: 5%;
	display: grid;
	grid-template-columns: 1fr 3fr;
}

@media (max-width: 1000px) {
	.profile-wrapper {
		display: grid;
		grid-template-columns: 6fr; 6fr;

	}
	
}

#profile-menu {
	display: hidden;
}

.profile-img {
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: 4px solid white;
}

.profile-repo-form-created-grid {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.feed-repo-container {
	background-color: var(--primary-color);
	border: 1px solid white;
	border-radius: 12px;
	padding: 12px;
	font-size: 12px;
	color: var(--grey);
}


.repo-feed-container p {
	color: white;
}

#profile-edit-form {
	display:none;
	background-color: var(--primary-color);
	margin-top: 5%;
	border: 1px solid var(--azure);
	transition: ease-in 5s;
	font-size: 12px;
	border-radius: 12px;
	padding: 5px;
}

.profile-edit-form-btn {
 margin-left: 4%;	
 border: 1px solid var(--primary-color);
 border-radius: 12px;
 color: white;
 background-color: var(--grey);
}

.profile-detail-container {
	margin-left: 15%;
}

.profile-name {
	color: var(--azure);
	font-size: 30px;
}

.profile-username {
	color: var(--grey);
	font-size: 25px;
	margin-top: -10%;
}

.profile-bio {
	color: var(--lightgrey);
	font-size: 18px;


}

.profile-edit-btn {
	width: 100%;
	background-color: var(--primary-color);
	color: var(--azure);
	font-size: 14px;
	border: 1px solid var(--azure);
	border-radius: 12px;
	padding: 5px;
}

#repository-feed-synopsis {
	color: var(--azure);
	font-size: 14px;
}

/* Create repository */
.create-repository-header-wrapper {
	background-color: var(--primary-color);
	color: white;
	padding: 12px;
	border: 1px solid white;
	margin-top: 5%;
}


.create-repository-header {
	text-align: center;
}

.create-repository-paragraph {
	text-align: center;
}

.create-hr {
	margin:0 auto;
	width: 50%;
}

.create-repo-form {
	background-color: var(--primary-color);
	margin:5% auto;
	width: 70%;
	border: 1px solid white;
	border-radius: 12px;
}

.create-title-grid {
	display: grid;
	grid-template-columns: 1fr 3fr;
	color: var(--secondary-color);
	padding: 12px;
}

/* Repo page */

.repo-page-container {
	background-color: var(--azure);
	margin: 5% auto;
	text-align: center;
	height: 800px;
	padding: 80px;
	width: 90%;
}

.repo-page-title {
}

.repo-page-body {
	margin-top: 5%;
}

/* Discussion */
.discussion-header-wrapper {
	margin: 8% auto;	
	background-color: var(--primary-color);
	color:white;
	padding: 20px;
	border: 1px solid white;
}


.discussion-header {
	text-align: center;
}

.discussion-hr {
	margin:0 auto;
	width: 50%;
}

.discussion-feed-host {
	color: var(--secondary-color);
}

.discussion-sub-header {
	text-align: center;
}
.discussion-wrapper {
	margin-top: 5%;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

.discussion-replied-to {
	margin-left: 14%;
}

@media (max-width: 1000px) {
	.discussion-wrapper {
		display: grid;
		grid-template-columns: 6fr; 6fr; 6fr;
	}
	
	.browse-paragraph {
		text-align: center;
		border-top-right-radius: 1px;
	}

}

.browse-paragraph {
	background-color: var(--primary-color);
	border: 1px solid var(--azure);
	border-top-right-radius: 12px;
	padding: 8px;
	color: var(--azure);
	
}

.browse-topic-name {
	padding: 10px;
	color: var(--azure);
	text-decoration: none;
}

.browse-container {
	margin-top: 0%;
}


.discussion-feed-container {
	background-color: var(--primary-color);
	border: 1px solid white;
	border-radius: 12px;
	padding: 12px;
	font-size: 12px;
	color: var(--grey);
}

.discussion-description {
	color: var(--azure); 
	margin-left: 8%;
}

.discussion-create-btn {
	border: none;
	font-size: 18px;
	border-radius: 12px;
	margin-bottom: 2%;
	color: var(--secondary-color);

}

.discussion-create-btn a {
	text-decoration: none;
	width: 100px;

}

.discussion-avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid var(--secondary-color);
}

.discussion-topic-grid {
	display:grid;
	grid-template-columns: 3fr 1fr;
	margin-left: 8%;
}

.discussion-activity-paragraph {
	background-color: var(--primary-color);
	border: 1px solid var(--azure);
	border-top-left-radius: 12px;
	padding: 8px;
	margin-top: 0%;
	color: var(--azure);
	
}

.discussion-room-name {
	display: block;
	margin-top: 1%;	
	color: var(--azure);
	margin-left: 8%;
}

.form-title-grid {
	display: grid;
	grid-template-columns: 1fr 3fr;
	color: var(--secondary-color);
	padding: 12px;
}


.create-room-form {
	background-color: var(--primary-color);
	margin:5% auto;
	width: 70%;
	border: 1px solid white;
	border-radius: 12px;
}

/* room */
.room-wrapper {
	margin:5% auto;
	display: grid;
	width: 90%;
	grid-template-columns: 3fr 1fr;
	color:white;
	font-size: 14px;
}

.room-avatar-img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid var(--azure);
}

.room-host-name {
	margin-top: 3%;
	color: var(--secondary-color);
}

.room-host-container {
	background-color: var(--primary-color);
	border: 1px solid var(--azure);
	margin-right: 5%;
	padding: 20px;
}

.room-conversation-container {
	border: 1px solid var(--azure);
	border-radius: 10px;
	padding: 10px;
	margin-left: 5%;
}


.room-description {
	margin-top: 1%;
	margin-left: 5%;
}


.room-message-host {
	color: var(--secondary-color);
}

.room-topic {
	margin-left: 5%;
	color: var(--grey);
}

.room-created {
	color: var(--grey);
}

.room-message {
	margin-left: 5%;
}


.room-vl {
	border-left: 2px solid var(--grey);
	height: 5%;
	position: absolute;
}

.participants-header {
	background-color: var(--primary-color);
	padding: 5px;
	border: 1px solid var(--azure);
}

.participants-box {
	background-color: var(--primary-color);
	border: 1px solid var(--azure);
	padding: 12px;
}

.participants-name {
	color: var(--secondary-color);
	text-decoration: none;
}

.participants-box {
	font-size: 12px;
}

.partcipants-details {
	border: 1px solid var(--azure);
	margin-top: 5%;
	padding: 12px;
	color: var(--azure);
}


.room-form {
	margin-top: 2%;
	margin-left: 5%;
}

.room-form-input {
	border:none;	
	background-color: var(--grey);
	margin: 2% 0 0 0 5%;
	border-radius: 8px;
	border: 1px solid var(--azure);
	width: 95%;
	color: var(--azure);
}

.message-trash-icon {
	margin-left: 5%;
	color: var(--azure);
}


.activity-avatar {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 2px solid var(--secondary-color);
}

.activity-created {
	color: var(--grey);
}

/* Update profile */
.update-profile-wrapper {
	margin:0 auto;
	width: 80%;
	display: grid;
	grid-template-columns: 3fr 3fr;
	background-color: var(--primary-color);
	padding: 22px;
	border: 1px solid var(--azure);
	border-radius: 12px;
}

.update-profile-avatar {
	display:block;
	margin:0 auto;
	width: 300px;
	height: 300px;
	border: 4px solid var(--azure);
	border-radius: 50%;
}

.update-profile-avatar-header {
	color: var(--azure);
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
