/* main */

.main {
  margin-top: 15%; } .main-header {
  font-size: 80px;
  font-weight: bold;
  color: white;
}

.main-sub-header {
	color: white;
	font-size: 30px;
}

/* features */
.features-icon {
	background-color: purple;
	border-radius: 50%;
	width: 100px;
	text-align: center;
}

.features-icon-container {
	text-align: center;	
	margin-top: 20%;
}

.features-header {
	text-align: center;
	color: white; 
	margin-bottom: 10%;
	font-size: 30px;
}

.features-paragraph{
	color: white;
	margin-top: 8%;
}

/* hero */
.hero-container {
	margin-top: 15%;
}

.hero-header {
	color: white;
}

.lead {
	color: white;
}

.study-img {
	border-radius: 12px;
}

.key-img {
	width: 10vw;
}
  
  /* Vertical line */
  
  hr {
	width: 80%;
	height: 8px;
	margin-left: -50%;
	background-color:green;
	border: 0 none;
	margin-top: 100px;
	margin-bottom:100px;
  }
  
  .vl {
	border-left: 6px solid #834c83;
	height: 100%;
	position: absolute;
	left: 2%;
  }

/* repositories */
.repositories-header {
	color: violet;
	font-size: 30px;
	}

.repositories-container {
	margin-top: 8%;
}

.repositories-owner {
	color: white;
	font-size: 18px;
}

.repositories-title {
	color: violet;
	font-size: 18px;
	text-decoration: none;
}

.repositories-title:hover {
	color: white;
}

.repositories-sub-text {
	color: white;
	font-size: 14px;
}

.repositories-sub-text1 {
	color: white;
	font-size: 12px;
}

/* repository */
.repository-title {
	margin-top: 10%;
	text-align: center;
	color: white;
}

.repository-body {
	text-align: center;
	color: white;
}

.repository-empty {
	margin-top: 5%;
	text-align: center;
	color: white;
}

/* profile */
.profile-pic {
	border-radius: 50%;
	width: 250px;
	height: 250px;
	border: 4px solid white;
	margin-top: -10%;
	margin-left: 18%;
	text-align: center;
}



.profile-nav ul {
	margin:0;
	padding: 0;
	color: white;
}

.profile-nav li {
	display: inline-block;
	color: white;
}

.contributions {
	font-size: 18px;
	color: orange;
	margin-top: 2%;
	margin-left: 25%;
}

.repositories-page-container {
	text-align: center;
	margin-top: 3%;
	margin-bottom: 5%;
	justify-content: left;
}

/* Form */
.signup-container {
  margin: 5% auto;
  padding: 80px 0;
  text-align: center;
}

.signup-container h1 {
  font-size: 40px;
  font-weight: 200;
}

form {
  padding: 20px 0;
  position: relative;
}

.signup-form input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
}

.signup-form button {
  text-align: center;
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: violet;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
}

.signup-notice {
  color: white;
  text-decoration: none;
}

.signup-notice:hover {
  color: violet;
}

.signin-img {
  width: 2em;
  margin-bottom: 20px;
}

.log-out-message {
	margin-top: 5%;
	color: white;
	text-align: center;
	font-size: 25px;
}
