/* main */

.main {
  margin-top: 15%; } .main-header {
  font-size: 80px;
  font-weight: bold;
  color: white;
}

.main-sub-header {
	color: white;
	font-size: 30px;
}

/* features */
.features-icon {
	background-color: purple;
	border-radius: 50%;
	width: 100px;
	text-align: center;
}

.features-icon-container {
	text-align: center;	
	margin-top: 20%;
}

.features-header {
	text-align: center;
	color: white; 
	margin-bottom: 10%;
	font-size: 30px;
}

.features-paragraph{
	color: white;
	margin-top: 8%;
}

/* hero */
.hero-container {
	margin-top: 15%;
}

.hero-header {
	color: white;
}

.lead {
	color: white;
}

.study-img {
	border-radius: 12px;
}

.key-img {
	width: 10vw;
}
  
  /* Vertical line */
  
  hr {
	width: 80%;
	height: 8px;
	margin-left: -50%;
	background-color:green;
	border: 0 none;
	margin-top: 100px;
	margin-bottom:100px;
  }
  
  .vl {
	border-left: 6px solid #834c83;
	height: 100%;
	position: absolute;
	left: 2%;
  }

/* repositories */
.repositories-header {
	margin-top: 10%;
	color: violet;
	font-size: 30px;
	}

.repositories-container {
	margin-top: 5%;
	padding: 10px;
}

.repositories-title {
	color: violet;
	font-size: 25px;
	text-decoration: none;
}

.repositories-title:hover {
	color: white;
}

.repositories-sub-text {
	color: white;
}

.repositories-sub-text1 {
	margin-top: 3%;
	color: white;
}

/* repository */
.repository-title {
	margin-top: 10%;
	text-align: center;
	color: white;
}

.repository-body {
	margin-top: 5%;
	text-align: center;
	color: white;
}

.repository-empty {
	margin-top: 5%;
	text-align: center;
	color: white;
}
